{% assign content_with_links = include.content %}

{% assign tags = site.tag %}

{% if page.auto-links-use-tags %}
    {% for tag in tags %}
        {% assign title = tag.title %}
        {% assign href = site.baseurl | append: "/tag/" | append: tag.auto-links-id %}

        {% capture link_markup %}<a href="{{ href }}" class="tag">{{ title }}</a>{% endcapture %}
        {% assign content_with_links = content_with_links | replace: title, link_markup %}

        {% assign title = tag.title | capitalize %}

        {% capture link_markup %}<a href="{{ href }}" class="tag">{{ title }}</a>{% endcapture %}
        {% assign content_with_links = content_with_links | replace: title, link_markup %}

        {% assign title = tag.title | downcase %}

        {% capture link_markup %}<a href="{{ href }}" class="tag">{{ title }}</a>{% endcapture %}
        {% assign content_with_links = content_with_links | replace: title, link_markup %}
    {% endfor %}
{% endif %}

{% assign tags = tags | map: 'title' %}

{% for item in site.glossary %}
    {% if item.title != include.title %}
        {% assign title = item.title %}
        {% assign href = site.baseurl | append: "/glossary/" | append: item.auto-links-id %}

        {% unless tags contains title %}
            {% capture link_markup %}<a href="{{ href }}" class="glossary">{{ title }}</a>{% endcapture %}
            {% assign content_with_links = content_with_links | replace: title, link_markup %}
        {% endunless %}

        {% assign title = item.title | capitalize %}

        {% unless tags contains title %}
            {% capture link_markup %}<a href="{{ href }}" class="glossary">{{ title }}</a>{% endcapture %}
            {% assign content_with_links = content_with_links | replace: title, link_markup %}
        {% endunless %}

        {% assign title = item.title | downcase %}

        {% unless tags contains title %}
            {% capture link_markup %}<a href="{{ href }}" class="glossary">{{ title }}</a>{% endcapture %}
            {% assign content_with_links = content_with_links | replace: title, link_markup %}
        {% endunless %}

    {% endif %}
{% endfor %}

{{ content_with_links }}